<div class="container mt-4 mb-4">
  <div class="row no-gutters">
    <div class="col-sm-10 col-md-6 mx-2 mx-sm-auto text-center rounded py-4 px-3">
      <h5 class="bg-light py-4">ログイン</h2>
       <div class="form-body p-4">
          <div class="mx-auto text-center">
            <p>名前と<br>パスワードを入力してください。</p>
          </div>
          <%= form_with model: @user, url: user_session_path do |f| %>
            <!--名前入力欄-->
            <div class="input-group mt-4 mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-user"></i></span>
              </div>
              <%= f.text_field :name, autofocus: true, placeholder: "ユーザー名", autocomplete: "name", class:"form-control" %>
            </div>

            <!--パスワード入力欄-->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-lock"></i></span>
              </div>
              <%= f.password_field :password, placeholder: "パスワード", id: "inputPassword",autocomplete: "current-password", class:"form-control" %>
            </div>

            <!--ログインボタン-->
            <div class="actions">
              <%= f.submit "ログイン", class:'btn'%>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

